@model Prueba.Negocio.Entidades.Direcciones
<form>
    <div class="form-horizontal form-label-left">
        <div class="row">
            <div class="separacion_inferior col-md-6 col-sm-12 col-xs-12">
                <label class="col-md-8 col-sm-6 col-xs-12" for="nombre">
                    Direccion <span>*</span>
                </label>
                @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control col-md-7 col-xs-12  required", placeholder = "Digite el nombre", @maxlength = 80, onkeypress = "return EsAlfaNumericoEspacio(this);" })
            </div>                        
        </div>
    </div>
</form>
<script>
    Inicializar();
</script>