@model  IEnumerable<Prueba.Negocio.Entidades.Producto>
@{
    ViewBag.Title = "Administrar Cursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="~/Vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<div class="x_content">
    <a href="javascript:void(0)" id="lnkAdd"><b style="font-size:xx-large" class="fa fa-plus-square"></b></a>
    <div id="listView">
        @Html.Partial("_List", Model)
    </div>
</div>

@section scripts{
    <script src="~/Vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Scripts/Producto/Producto.js"></script>
}